.button-container {
  position: fixed;
  right: 20px;
  bottom: 20px;

  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  background-color: #3b82f6;
  color: rgb(255, 255, 255);

  padding: 16px 40px;
  border: none;
  border-radius: 8px;

  cursor: pointer;

  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #2563eb;
}
